.appDetailWapper {
  padding: 10px;
  height: 100%;
  display: flex;
}
.appInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #DCDCDC;

  img {
    width: 60px;
    height: 60px;
    //margin-right: 4px;
  }

  .appName {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;

    small {
      color: #CCC;
    }
  }
}
