.title{
    font-size: 40px;
    color: #0FC;
    margin: 0;
}

    .appListWrapper {
        max-width: 1200px;
        margin: auto;
        // padding: 20px 0;
    }
.appItem {
    box-shadow: 1px 1px 1px 1px #CCC;
    padding: 6px 10px;
    margin-top: 10px;
    transition: all .1s;
}
.appItem:hover {
    box-shadow: 2px 1px 4px 1px #CCC;
}