body {
    color: #333;
}

:global {
    .logo {
        display: inline-block;
        color: #FFF;
        text-align: center;
        width: 100px;
    }
    .header {
        display: flex
    }
}
