.appInfo {
  img {
    width: 60px;
    height: 60px;
  }

  .appName {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;

    small {
      color: #CCC;
    }
  }
  .description {
    color: #999;
    width: 260px;
    font-size: 14px;
  }

  .appid {
    color: #999
  }
}
