.appInfo {
  img {
    width: 60px;
    height: 60px;
  }

  .appName {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;

    small {
      color: #CCC;
    }
  }
  .description {
    color: #999;
  }
}
